.demo{
    display: flex;
    gap: 12px;
    position: relative;
    /* justify-content:end; */
    /* right: 0px; */
    left: 830px;
    bottom: 25px;
    color: rgb(167, 3, 3);
}
body{
    overflow-x: hidden;
}
i{
    display: flex;
    gap: 10px;
    color:black ;
    position: relative;
    left: 60px;
    border: 1px solid red;
    border-radius: 200px;
    padding: 10px;
}
img{
    position: relative;
    left: 900px;
    bottom: 180px;
}
h3{
    position: relative;
    left: 60px;
    /* color: rgb(143, 5, 5); */
}
h1{ position: relative;
    left: 60px;
    color:rgb(156, 4, 4);

}
h5{
     position: relative;
    left: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
body{
    background-image: url(blue.jpg);
    height: 750px;;
    width: 1100px;
    padding:auto;
}

.demo2{
    position: relative;
    left: 100px;
    height: 300px;
    width: 250px;
    bottom:100px;
      
}
.hello{
    position:absolute;
    bottom: 200px;
left:  900px;
color:rgb(156, 7, 7);

}
h6{
    position: absolute;
    top: 400px;
    left: 900px;
    color:white;
    font-size:13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    position: absolute;
    top: 570px;
    left: 900px;
    color: white;
}
button{
    position: absolute;
    top: 730px;
    left: 900px;
    color: crimson;
}
/* body{
    
    
    height:800px;
    width: 1100px;
    padding: 1px;
} */